<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
    <main class="cuerpo">
            <form class="flexbox-formulario" action="/login" method="POST">

                <div class="formulario-item formulario-label letra-outfit-sans-serif">
                        <label for="emailusuario">E-mail</label>
                        <% if (locals.errors && errors.emailusuario) { %>
                        <div class="formulario-warning letra-noto-sans-error">
                        <%= errors.emailusuario %>
                        </div>
                        <% } %>
                        <section class="formulario-warning errorEmail letra-noto-sans-error"></section>
                        </div>
                        <div class="formulario-item">
                        <input class="formulario-input-box-email-login" type="email" id="emailusuario"name="emailusuario"  value="<%= locals.old &&
                          old.emailusuario %>">
                </div>
                <div class="formulario-item formulario-label letra-outfit-sans-serif">
                        <label for="contrasenausuario">Contraseña</label>
                        <% if (locals.errors && errors.contrasenausuario) { %>
                        <div class="formulario-warning letra-noto-sans-error">
                        <%= errors.contrasenausuario %>
                        </div>
                        <% } %>
                        <section class="formulario-warning
                        errorContraseña letra-noto-sans-error"></section>
                        </div>
                        <div class="formulario-item">
                        <input class="formulario-input-box-contrasena-login" type="password" name="contrasenausuario" id="contrasenausuario" autocomplete="off" >
                </div>
                <div class="formulario-item">
                        <input class="formulario-boton-enviar" type="submit" value="Login">
                </div>
            </form>
        <!--    <section class="redes-sociales">
                        <button id="sign-up-facebook" type="submit" value="Facebook"><i class="fab fa-facebook-square"></i> Ingresa con Facebook </button>
                        <button id="sign-up-Google" type="submit" value="Google"><i class="fab fa-google"></i> Ingresa con Google </button>
                        <button id="sign-up-Aple" type="submit" value="Apple"><i class="fab fa-apple"></i> Ingresa con Apple </button>
           </section>  -->

    </main>
<%- include('./footer') %>
    <script src="/public/js/jsFrontLogin.js"></script>
</body>
</html>