<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
             <main class="main">
               <div class="display-texto-caja-prod letra-outfit-sans-serif">
               Productos Disponibles <%if (locals.isUserLogged===true) {%> <a class="solo-escritorio" display="inline" id="createproduct"
   href="/products/create" ><button class="boton-agregar-producto">Agregar Producto</button></a> <% }%>
               </div> 
             <article class="productos-main productos-pagina-productos">
               <% for (let i = 0; i < productos_lista.length; i++) { %>
    <a href="/products/detail/<%= productos_lista[i].id %>" class="CajaProductos-main margin-bot-plist">
        <img src="/public/img/<%= productos_lista[i].img %>"
               class="img-main-productos">
<% if (productos_lista[i].id > 4) { %>
        <div class="titulo-producto-inicio nombre-fabricante-caja-producto"><%= productos_lista[i].maker %></div>
<% } else { %>
                  <div class="titulo-producto-inicio"><%= productos_lista[i].maker %></div>
<% } %>
        <div class="texto-producto-inicio"><%= productos_lista[i].name %></div>
        <div class="titulo-producto-inicio">$ <%= productos_lista[i].price %></div>
    </a>
        <% } %>
    </article>
    </main>
<%- include('./footer') %>
    
</body>
</html>
