<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
<main class="main">
<div class="contenedor-carrito">
    
<div class="productos-main caja-prod-carrito">
  <img src="/public\img\<%= product.img %>" class='img-main'>
        </div>
          <div class="display-texto-caja-carrito letra-productos-sans-serif">
            <%= product.name %>
          <div class="carrito-texinfo-box">
            <%= product.desc %>
<br><br>
            Fabricante: <%= product.maker %>
          </div>

          <div class="carrito-total-flexbox">
            Precio
            <div class="carrito-total-a-pagar">
              $ <%= product.price %>
            </div>
          </div>
          <div> </div>
          <div class="flexbox-boton-pagina-producto">
            <form action="/cart/add/<%= product.id%>"  method="POST"> 
          <button type="submit" class="boton-agregar-producto
            action-button post">Agregar producto al carrito</button>
            </form>
            <%if (locals.isUserLogged===true) {%>
          <div class="solo-escritorio espacio-pagina-productos"> a</div>
            <a href="/products/edit/<%= product.id %>"><button class="solo-escritorio boton-editar-producto">Editar producto</button></a>
          <form action="/products/detail/products/delete/<%= product.id%>?_method=DELETE"  method="POST"> 
          <button id="Boton_Eliminar" type="submit" class="solo-escritorio boton-borrar-producto action-button delete">Eliminar producto</button>
          </form>
          <% }%>
        </div>

          </div>
    </div>
    </div>
               <div class="display-texto-caja-prod letra-outfit-sans-serif">
               Productos Relacionados
               </div>
             <article class="productos-main">
               <% for (let i = 0; i < productos_lista.length; i++) { %>
    <a href="/products/detail/<%= productos_lista[i].id %>" class="CajaProductos-main">
        <img src="/public\img\<%= productos_lista[i].img %>" class="img-main-productos">
<% if (productos_lista[0].id == 7 || productos_lista[1].id == 7 || productos_lista[2].id == 7 || productos_lista[3].id == 7) { %>
        <div class="titulo-producto-inicio nombre-fabricante-caja-producto"><%= productos_lista[i].maker %></div>
<% } else { %>
                  <div class="titulo-producto-inicio"><%= productos_lista[i].maker %></div>
<% } %>
        <div class="texto-producto-inicio"><%= productos_lista[i].name %></div>
        <div class="titulo-producto-inicio">$ <%=
          productos_lista[i].price %></div>
          <div class="css-display-inline">
                      <form action="/cart/add/<%= productos_lista[i].id%>"  method="POST"> 
          <button type="submit" class="boton-agregar-producto
            action-button post">Agregar al carrito</button>
            </form></div>
    </a>
        <% } %>
    </article>
    </main>
<%- include('./footer') %>
    
</body>
</html>